.product-list-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.product-list-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 1.8em;
}

.product-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.no-products-message {
    text-align: center;
    color: #777;
    font-style: italic;
    padding: 20px;
    border: 1px dashed #ccc;
    border-radius: 5px;
    margin-top: 20px;
}
.product-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
@media (max-width: 850px) {
    .product-list-container {
        padding: 15px;
        margin: 15px;
    }
}